<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/template.css">
    <title><%= title %></title>
</head>
<body>

    <img src="/images/logos/wrFull.png" alt="Wormwood Logo" id="headerLogo" draggable="false">

    <%- include("includes/navbar") %>

    <form action="/product" method="post">

            <% let carType = {}; %>

            <% products.forEach(product => { %>
                <% if (!carType[product.productId]) { %>
                    <% carType[product.productId] = 1; %>
                <% } else { %>
                    <% carType[product.productId]++; %>
                <% } %>
            
                <% if (carType[product.productId] === 4) { %>

                    <button type="submit" value="<%= product.id %>" id="productImageButtons">
                        <img src="<%= product.link %>" alt="" class="productImages">
                    </button>

                    <p><%= product.title %></p>

                <% } %>
            <% }) %>
    </form>
    
</body>
</html>
